.App {
  display: flex;
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px 0 20px;
}

.boxBar {
  background-color: #edede9;
  width: 25%;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid gray;
}

.boxAbout {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 75%;
  border-radius: 0 10px 10px 0;
  background-color: #f5ebe0;
}
