@import '../../assets/main.scss';

.mainTitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;

    &__boxProfession {
        display: flex;
        height: 100%;
    }

    &__name {
        @include title($textColor);
        margin: 0;
        font-size: 30px;
        margin-bottom: 12px;
    }

    &__profession {
        @include title($textColor);
        margin: 0;
        font-size: 20px;
    }

    &__iconJS {
        display: flex;
        width: 20px;
        height: 20px;
    }
}