@mixin title($textColor) {
    font-family: "Inters",sans-serif;
    font-weight: 700;
    color: $textColor;
}

@mixin text($textColor) {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: $textColor;
    letter-spacing: 0.6px;
}