@import '../../assets//main.scss';

.barTech {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid gray;

    &__boxSkills:not(:last-child) {
        margin-right: 10px;
    }

    &__title {
        @include title($mainColor);
        margin: 0;
        margin-bottom: 10px;
    }

    &__icon {
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }

    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;        
    }

    &__item {
        @include text($mainColor);
        margin-bottom: 5px;

    }

    &__item {
        @include text($mainColor);
        margin-bottom: 5px;
        font-weight: 300;
    }

    &__item:last-child {
        margin-bottom: 0;
    }
}