@import '../../assets//main.scss';

.experience {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &__title {
        margin: 0;
        @include title($mainColor);
        font-size: 20px;
    }

    &__titleName {
        font-size: 15px;
        padding-left: 40px;
        margin-top: 5px;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 45px;
    }

    &__item {
        @include text($mainColor);
    }

    &__icon {
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }
}