@import '../../assets//main.scss';

.experience {
    display: flex;
    flex-direction: column;

    &__title {
        margin: 0;
        @include title()
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        @include text();
    }

    &__icon {
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }
}