.josefin-sans-regular {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.josefin-sans-medium {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.josefin-sans-bold {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: auto;
}

.inter-medium {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: auto;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: auto;
}

.inter-black {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: auto;
}

.smooch-sans-bold> {
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}