@import '../../assets//main.scss';

.barContacts {
    padding: 10px;
    font-family: $main-font;
    font-size: 20px;
    border-bottom: 1px solid gray;

    &__title {
        margin: 0;
        margin-bottom: 10px;
    }

    &__list {
        @include text();
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        @include text();
        display: flex;
        margin-bottom: 10px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }
}

.barContacts__link {
    display: inherit;
    margin: 0;
    margin-left: 5px;
    color: black;
    text-decoration: none;
    align-items: center;

}

.barContacts__icon {
    width: 16px;
    height: 16px;
}
